.pdp-action {
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: var(--shadow-color) 0px 10px 50px;
    width: 100%;
    background-color: var(--white);
    padding: 0.2rem;
    z-index: 3;
}

.bag-retail__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.bag-retail__product {
    display: grid;
    grid-column-gap: 0.8rem;
    grid-template-areas: "thumbnail name";
    grid-template-columns: 4.8rem auto;
    align-items: center;
}

.bag-retail__product {
    display: none;
}

.bag-retail__product .thumbnail {
    height: 4.8rem;
    width: 4.8rem;
    grid-area: thumbnail;
    border-radius: 0.8rem;
    -o-object-fit: contain;
    object-fit: contain;
}

.bag-retail__product .name {
    grid-area: name;
    display: grid;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
    word-break: break-word;
}

.bag-retail-actions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
}

.bag-retail__quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    flex: 0 1 auto;
}

.bag-retail__quantity .control {
    font-size: 14px;
    margin: 0;
}

.blu-btn.b-small {
    font-size: 1.2rem;
    height: 3.2rem;
    border-radius: 0.8rem;
}

.bag-retail__quantity .blu-btn.b-outline {
    color: #0095da;
    background-color: transparent;
}

.b-disabled {
    cursor: not-allowed;
    opacity: 0.6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bag-retail__quantity .field {
    width: 5rem;
    border-width: 0 0 0.1rem 0;
    border-radius: 0;
    text-align: center;
}

.blu input[type="number"] {
    border-radius: 1.6rem;
    border: 0.2rem solid var(--light-black);
    box-shadow: none;
    height: 3.8rem;
    padding: 0.6rem 0.1rem;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.blu-btn.b-outline.b-disabled {
    color: var(--black);
    /* rgba(0, 0, 0, 0.87); */
    border: var(--gray-light) 0.2rem solid;
    -webkit-transition: background-color 0.4s, border-color 0.6s;
    transition: background-color 0.4s, border-color 0.6s;
}

.bag-retail__action {
    flex: 0 1 auto;
    padding: 1rem;
}

.main-action {
    display: flex;
}

.main-action button {
    margin-right: 1rem;
}

.blu-btn {
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.38);
    border-radius: 16px;
    white-space: nowrap;
    height: 4.8rem;
    padding: 0;
    cursor: pointer;
}

.blu-btn.b-secondary {
    color: var(--white);
    background-color: var(--sky-blue);
    border-color: var(--sky-blue);
    -webkit-transition: background-color 0.4s, border-color 0.4s;
    transition: background-color 0.4s, border-color 0.4s;
}

.blu-btn.b-primary {
    color: var(--white);
    background-color: var(--complementary-color);
    border-color: var(--complementary-color);
    -webkit-transition: background-color 0.4s, border-color 0.4s;
    transition: background-color 0.4s, border-color 0.4s;
}

.blu-ripple {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-mask-image: radial-gradient(circle, var(--white) 100%, #000 100%);
}

.blu-btn .blu-ripple {
    padding: 0 2.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.blu-btn:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    -webkit-transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: background-color, opacity;
    content: " ";
}

@media only screen and (min-width: 420px) {
    .bag-retail-actions {
        flex-direction: row;
    }
}

@media only screen and (min-width: 998px) {
    .bag-retail__product {
        display: grid;
    }
    .bag-retail__quantity {
        margin-left: auto;
    }
}